@import '../../shared/colors.scss';
@import '../../shared/marching-ants.scss';

.activity {
    height: 90px;
    width: 90px;
    margin: 5px;
    padding: 10px;
    background-color: $lowlight;
    color: $text-dark;

    .name {
        word-wrap: break-word;
    }

    .delete {
        visibility: hidden;
        display: block;
        margin: 45px 0 0 40px;
        font-size: 10px;
        color: $lowerlight;
        cursor: pointer;

        &:hover {
            color: $highlight;
        }
    }

    @media (hover: hover) {
        &:hover {
            background-color: $highlight;
            color: $text-light;

            .delete {
                color: $text-light;
            }
        }
    }
}

.active {
    @include marching-ants-v2-init(20px, 2px, 2s, 1);
    @include marching-ants-v2-color($highlight, $lowlight);
    animation-play-state: running;

    .delete {
        visibility: visible;
    }
}

@media (min-width: 550px) {
    .activity {
        margin: 20px;
    }
}