@import '../../shared/colors.scss';

header {
    display: flex;
    height: 50px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $highlight;
    color: $text-dark;
    margin: 20px;
    animation: fadein 1s;    

    h1 {
        
    }

    nav {
        
        a {
            color: $text-dark;

            &:hover {
                color: $highlight;
            }
        }
    }
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}