@import '../../shared/colors.scss';
@import '../../shared/animations.scss';

header {
    display: flex;
    flex-direction: column;
    min-height: 80px;
    border-bottom: 1px solid $highlight;
    color: $text-dark;
    animation: fadein 1s;   

    h1 {
        font-size: 8vw;
    }

    nav {        
        a {
            color: $text-dark;

            &:hover {
                color: $highlight;
            }
        }
    }

    @media (min-width: 550px) {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;      

        h1 {
            font-size: 2em;
        }  
    }
}