@import '../../shared/colors.scss';

textarea {
    width: 90px;
    height: 90px;
    margin: 5px;
    text-align: center;
    resize: none;
    padding: 10px;
}

@media (min-width: 550px) {
    textarea {
        margin: 20px;
    }
}