@import '../../shared/colors.scss';

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 100px);
    background-color: $background;

    .content-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        
        h1 {
            color: $text-dark;
            font-size: 8vw;
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: space-around;

            button {
                height: 30px;
                width: 100px;
                margin: 20px;
                border: 1px solid $highlight;
                background-color: $highlight;
                color: $text-light;
                transition: 250ms;
                outline: none;

                &:hover {
                    color: $text-dark;
                    background-color: $background;
                }

                &:active {
                    transition: 0ms;
                    transform: translate(0, 1px);
                }
            }
        }

        @media (min-width: 550px) {
            h1 {
                font-size: 2em
            }
        }
    }
}